@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");
.hide {
  display: none !important;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.btn {
  font-size: 15px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:active {
  transform: scale(95%);
}
.btn:hover {
  filter: brightness(0.95);
}
.btn:disabled {
  cursor: default;
  filter: brightness(0.8);
  transform: none;
}

.pink {
  background-color: rgb(228, 101, 122) !important;
}

.red {
  background-color: rgb(255, 41, 41) !important;
}

.orange {
  background-color: rgb(255, 166, 0) !important;
}

.yellow {
  background-color: rgb(255, 255, 0) !important;
}

.green {
  background-color: rgb(61, 216, 61) !important;
}

.blue {
  background-color: rgb(0, 191, 255) !important;
}

.purple {
  background-color: rgb(161, 68, 173) !important;
}

.dark-blue {
  background-color: rgb(60, 60, 192) !important;
}

.black {
  background-color: rgb(27, 27, 27) !important;
}

.flex-center, .tetris-container .game-buttons .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: steelblue;
}

.game-title {
  cursor: pointer;
}
.game-title:active {
  transform: scale(95%);
}
.game-title:hover {
  filter: brightness(0.95);
}

.tetris-container {
  margin: 15px;
  display: flex;
  gap: 20px;
}
.tetris-container .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tetris-container .box {
  height: 30px;
  width: 30px;
}
.tetris-container .bordered {
  border: 3px solid rgba(0, 0, 0, 0.5);
}
.tetris-container .tetris-game, .tetris-container .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(71, 38, 218);
  color: #fff;
  padding: 13px 20px;
  border-radius: 15px;
  border: 3px solid rgba(0, 0, 0, 0.5);
}
.tetris-container .shape-container, .tetris-container .next-container, .tetris-container .line-container {
  height: 90px;
  width: 150px;
  position: relative;
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
}
.tetris-container .line-container {
  height: 30px;
}
.tetris-container .next-container {
  height: 270px;
}
.tetris-container .info-container {
  gap: 5px;
}
.tetris-container .game-buttons {
  margin-top: 20px;
}
.tetris-container .game-buttons .btn {
  margin: 8px 0px;
  width: 100px;
  background-color: steelblue;
  color: white;
}
.tetris-container .ghost-blue {
  border: 3px solid rgba(0, 191, 255, 0.8);
  background-color: rgb(27, 27, 27);
}
.tetris-container .ghost-dark-blue {
  border: 3px solid rgba(60, 60, 192, 0.8);
  background-color: rgb(27, 27, 27);
}
.tetris-container .ghost-orange {
  border: 3px solid rgba(255, 166, 0, 0.8);
  background-color: rgb(27, 27, 27);
}
.tetris-container .ghost-yellow {
  border: 3px solid rgba(255, 255, 0, 0.8);
  background-color: rgb(27, 27, 27);
}
.tetris-container .ghost-green {
  border: 3px solid rgba(61, 216, 61, 0.8);
  background-color: rgb(27, 27, 27);
}
.tetris-container .ghost-purple {
  border: 3px solid rgba(161, 68, 173, 0.8);
  background-color: rgb(27, 27, 27);
}
.tetris-container .ghost-red {
  border: 3px solid rgba(255, 41, 41, 0.8);
  background-color: rgb(27, 27, 27);
}

.how-to-play {
  max-width: 540px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.text-red {
  color: rgb(255, 41, 41);
}

.text-blue {
  color: rgb(0, 191, 255);
}

.text-green {
  color: rgb(61, 216, 61);
}

.text-yellow {
  color: rgb(255, 255, 0);
}

.text-purple {
  color: rgb(161, 68, 173);
}

.text-orange {
  color: rgb(255, 166, 0);
}

.text-red {
  color: rgb(255, 41, 41);
}/*# sourceMappingURL=style.css.map */