@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");
@import "./utilities";

$primaryColor: steelblue;
$boxSize: 30px;
$borderWidth: calc($boxSize / 10);
$alpha: 0.8;
$border: $borderWidth solid rgba(0, 0, 0, 0.5);
$containerColor: rgb(71, 38, 218);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: steelblue;
}

.btn {
  @extend %btn;
}

.game-title {
  cursor: pointer;
  &:active {
    transform: scale(95%);
  }

  &:hover {
    filter: brightness(0.95);
  }
}

.tetris-container {
  margin: 15px;
  display: flex;
  gap: 20px;

  .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .box {
    height: $boxSize;
    width: $boxSize;
  }

  .bordered {
    border: $border;
  }

  .tetris-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include set-background($containerColor);
    padding: 13px 20px;
    border-radius: 15px;
    border: $border;
  }

  .shape-container {
    height: $boxSize * 3;
    width: $boxSize * 5;
    position: relative;
    background-color: $black;
    border-radius: 5px;
  }

  .line-container {
    @extend .shape-container;
    height: $boxSize * 1;
  }

  .next-container {
    @extend .shape-container;
    height: $boxSize * 9;
  }

  .info-container {
    @extend .tetris-game;
    gap: 5px;
  }

  .game-buttons {
    margin-top: 20px;
    .btn {
      @extend .flex-center;
      margin: 8px 0px;
      width: 100px;
      background-color: $primaryColor;
      color: white;
    }
  }

  .ghost-blue {
    border: $borderWidth solid rgba($color: $blue, $alpha: $alpha);
    background-color: $black;
  }

  .ghost-dark-blue {
    border: $borderWidth solid rgba($color: $darkBlue, $alpha: $alpha);
    background-color: $black;
  }

  .ghost-orange {
    border: $borderWidth solid rgba($color: $orange, $alpha: $alpha);
    background-color: $black;
  }

  .ghost-yellow {
    border: $borderWidth solid rgba($color: $yellow, $alpha: $alpha);
    background-color: $black;
  }

  .ghost-green {
    border: $borderWidth solid rgba($color: $green, $alpha: $alpha);
    background-color: $black;
  }

  .ghost-purple {
    border: $borderWidth solid rgba($color: $purple, $alpha: $alpha);
    background-color: $black;
  }

  .ghost-red {
    border: $borderWidth solid rgba($color: $red, $alpha: $alpha);
    background-color: $black;
  }
}

.how-to-play {
  max-width: 540px;
  text-align: center;
  @include set-background(rgba($color: #000000, $alpha: 0.3));
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.text-red {
  color: $red;
}
.text-blue {
  color: $blue;
}
.text-green {
  color: $green;
}
.text-yellow {
  color: $yellow;
}
.text-purple {
  color: $purple;
}
.text-orange {
  color: $orange;
}
.text-red {
  color: $red;
}
